language: ruby
cache: bundler

notifications:
  email: false

before_install: gem install bundler -v '~> 1'

matrix:
  include:
    - rvm: 2.5
      gemfile: Gemfile
    - rvm: 2.6
      gemfile: Gemfile
    - rvm: 2.7
      gemfile: Gemfile
      env:
        BUNDLE_FORCE_RUBY_PLATFORM=1
    - rvm: 2.4
      gemfile: gemfiles/rails5.gemfile
    - rvm: 2.5
      gemfile: gemfiles/rails5.gemfile
    - rvm: 2.6
      gemfile: gemfiles/rails5.gemfile
    - rvm: 2.6
      gemfile: gemfiles/railsmaster.gemfile
  allow_failures:
    - rvm: 2.6
      gemfile: gemfiles/railsmaster.gemfile
