name: Lint Docs

on:
  push:
    branches:
    - master
    paths:
    - "**/*.md"
    - ".github/workflows/docs-lint.yml"
  pull_request:
    paths:
    - "**/*.md"
    - ".github/workflows/docs-lint.yml"

jobs:
  docs-lint:
    uses: anycable/github-actions/.github/workflows/docs-lint.yml@master
    with:
      lychee-args: docs/* --exclude "(ruby/|anycable-go/|deployment/|architecture.md)" -v README.md CHANGELOG.md
